.block_moderator_guide_addbutton {
    margin-top: 20px;
    text-align: center;
}

.block_moderator_guide_manageguide {
    text-align: left;
    margin-top: 20px;
}

.block_moderator_guide_right {
    text-align: right;
}